$font-stack: Roboto, sans-serif;
$title: #222222;
$subtitle: #555555;
$nav: #444444;
$button: #30C2FF;
$buttonhov: #11a4e4;

$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow: "\e900";
$icon-burger: "\e901";
$icon-search: "\e902";

