
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*-------------*/

$font-stack: Roboto, sans-serif;
$title: #222222;
$subtitle: #555555;
$nav: #444444;
$button: #30C2FF;
$buttonhov: #11a4e4;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: $font-stack;
  position: relative;
  background-color: #fff;
  color:$subtitle;
  max-width: 1920px;
  font-size: 14px;
  top: 80px;

  .container {
   margin: 0 auto;
   max-width: 1150px;
   padding: 0 25px;
  }

  a {
    color: $nav;
  }

  .section__title {
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: $title;
    font-size: 36px;
    margin-bottom: 50px;
  }
  .section__desc {
    width: 100%;
    line-height: 26px;
    font-size: 18px;
  }
  .section__text {
  }
  .section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section__items {
    width: 100%;
    display: flex;
  }
  .section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item__icon {
    width: 100%;
    height: 100px;
  }
  .item__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .item__desc {
    line-height: 24px;
  }

  .button {
    background-color: $button;
    color:#fff;
    padding: 12px 32px;
    border-radius: 3px;
    &:hover {
      background-color:$buttonhov;
    }
  }
}

header {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 5;
  position: fixed;
  background-color: #fff;
  justify-content: space-between;
  padding: 12px 20px;
  height: 60px;
  white-space: nowrap;
  top: 0px;
  .header {
    &__nav {
      display: flex;
    }
    &__menu {
      display: flex;
      align-items: center;
      margin-left: 56px;
      @media (max-width:768px) {
        display:none;
      }
    }
    &__info {
      display: flex;
      align-items: center;
    }
    &__link,&__phone,&__search {
      padding-right: 33px;
    }
    &__phone {
      @media (max-width:1024px) {
        display:none;
      }
    }
    &__viewdemo {
      padding: 10px 20px;
      @media (max-width:768px) {
        display:none;
      }
    }
  }
}

.preview {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 160px;
  .section__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 90px;
  }
  .section__title {
    text-align: left;
    line-height: 54px;
    font-size: 42px;
    margin-bottom: 20px;
  }
  .section__text {
    margin-bottom: 20px;
  }
}

.how {
  margin-bottom: 120px;
  .section__title {
    margin-bottom: 50px;
  }
  .section__items {
    justify-content: space-between;
    text-align: center;
    }
  .section__item {
    width: 290px;
    padding: 0 18px;
  }
  .item__title {
    margin: 14px 0;
  }
}

.boost {
}

.storefront {
}

.more {
}

.take {
}
